<div class="row">

	<!-- Profile and Connections -->
	<div class="col-md-2 text-center">
			<div class="timezone">
				<h3 class="text-center">Connections</h3>
				<hr>
				<p>Timezone: <b><%= Time.zone.name %></b></p>
				<%= link_to "change?", edit_user_registration_path %>
			</div>
		<hr>
			<div class="social">

			</div>
	</div>
	<!-- New Posts and Schedule -->
	<div class="col-md-5">
		<h3 class="text-center">Scheduled Posts</h3>
		<hr>
	</div>

	<!-- History -->
	<div class="col-md-5">
		<h3 class="text-center">Post History</h3>
		<hr>
	</div>

</div>